.ESignatureApp {
    font-size: 1.5rem;

    .container {
        text-align: center;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .up {
        display: flex;
        flex-direction: column;

    }

    .down {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}